! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*multiClickTime:                 number
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
! URxvt*scrollBar:                      boolean
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*background:                     color
! URxvt*foreground:                     color
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*font:                           fontname
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*saveLines:                      number
! URxvt*buffered:                       boolean
! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
! URxvt*letterSpace:                    number
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*kuake.hotkey:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string

! input Method set
URxvt*.inputMethod: fcitx
URxvt*preeditType:  style


URxvt*.depth: 32

!URxvt.foreground: Red
! URxvt*loginShell:  true
! URxvt*background.border:              boolean
! URxvt*background.expr:                string

URxvt.scrollBar: false
xvt.inheritPixmap: True
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt*font:xft:WenQuanYi Micro Hei Mono:size=11:style=Regular:antialias=true,xft:WenQuanYi Micro Hei Mono:size=10:style=Regular:antialias=true
URxvt*boldfont:xft:WenQuanYi Micro Hei Mono:size=11:style=Bold:antialias=true,xft:WenQuanYi Micro Hei Mono:size=10:style=Bold:antialias=true
URxvt*italicFont:xft:WenQuanYi Micro Hei Mono:size=11:style=Bold:antialias=true,xft:WenQuanYi Micro Hei Mono:size=10:style=Bold:antialias=true
URxvt*boldItalicFont:xft:WenQuanYi Micro Hei Mono:size=11:style=Bold:antialias=true,xft:WenQuanYi Micro Hei Mono:size=10:style=Bold:antialias=true


Xft.dpi:96

URxvt.colorBD: yellow
URxvt.colorUL: Green

URxvt.background: [99]#3b3b3b
!*background: #181512
*foreground: #bea492
*cursorColor: #93a1a1
*color0: #3399ff
!*color8: #817267
*color8: #3399ff
*color1: #ff0033
!*color1: #9A32CD
*color9: #68228B
!*color2: #c4be90
*color2: #6CA6CD
!*color2: #3399ff
*color10: #bec17e
*color3: #3399ff
*color11: #fafac0
! *color12: #303b40
! funcion or def param:color6,params(e.g.$name):color5,badparams(e.g."nameserv"):color9,description:color4,params:color1,text:color2
!*color4: #646a6d
*color4: #3399ff
*color12: #20B2AA
!*color5: #9A32CD
*color5: #BDB76B
!*color13: #756f7b
!*color6: #756f7b
*color6: #EE9A00
*color14: #444d4e
*color7: #504339
!*color7:  #756f7b
*color15: #9a875f

! Alternate foreground
!*foreground: #AB9C71
!*cursorColor: #BE5E1E
!!
!*color0:  #39474A
!*color1:  #986345
!*color2:  #788249
!*color3:  #9B6A46
!*color4:  #3E5951
!*color5:  #B9924A
!*color6:  #5d796a
!*color7:  #977D5E
!*color8:  #4C5F63
!*color9:  #B07350
!*color10: #869151
!*color11: #AF6B42
!*color12: #567A6E
!*color13: #D69D55
!*color14: #668574
!*color15: #AB9C71


!URxvt*color0:  #2E3436
!URxvt*color1:  #a40000
!URxvt*color2:  #4E9A06
!URxvt*color3:  #C4A000
!URxvt*color4:  #3465A4
!URxvt*color5:  #75507B
!URxvt*color6:  #ce5c00
!URxvt*color7:  #babdb9
!URxvt*color8:  #555753
!URxvt*color9:  #EF2929
!URxvt*color10: #8AE234
!URxvt*color11: #FCE94F
!URxvt*color12: #729FCF
!URxvt*color13: #AD7FA8
!URxvt*color14: #fcaf3e
!URxvt*color15: #EEEEEC

!URxvt*color0: #000000
!URxvt*color1: #CC0000
!URxvt*color2: #4E9A06
!URxvt*color3: #C4A000
!URxvt*color4: #3465A4
!URxvt*color5: #75507B
!URxvt*color6: #06989A
!URxvt*color7: #D3D7CF
!URxvt*color8: #555753
!URxvt*color9: #EF2929
!URxvt*color10: #8AE234
!URxvt*color11: #FCE94F
!URxvt*color12: #729FCF
!URxvt*color13: #AD7FA8
!URxvt*color14: #34E2E2
!URxvt*color15: #EEEEEC

!URxvt*color1:Red2
!URxvt*color4:RoyalBlue
!URxvt*color5:Magenta2
!URxvt*color8:Gray50
!URxvt*color10:Green2
!URxvt*color12:DodgerBlue
!URxvt*color14:Cyan2
!URxvt*color15:Gray95

!!URL操作
URxvt.urlLauncher:chromium
!URxvt.matcher.button:1
!Urxvt.perl-ext-common:matcher
!!光标闪烁
URxvt.cursorBlink:False
URxvt.saveLines:3000
!!边框
URxvt.borderLess: False


! {{{扩展
URxvt.perl-lib: /soft/Tools/urxvt-perls/
URxvt*perl-ext-common: default,matcher,clipboard,keyboard-select,url-select
! clipboard/(install xsel)
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
! keyboard-select
URxvt*keysym.M-Escape: perl:keyboard-select:activate
URxvt*keysym.C-s: perl:keyboard-select:search
! url-select
URxvt.keysym.M-u: perl:url-select:select_next
! }}}

XTerm*locale: true
XTerm*utf8Title: true
XTerm*fontMenu*fontdefault*Label: Default
XTerm*xftAntialias: true
XTerm*faceName: monaco:antialias=True:pixelsize=15
XTerm*faceNameDoublesize: WenQuanYi Zen Hei Mono:antialias=True:pixelsize=15
XTerm*faceSize: 20
XTerm*faceSize1: 20
XTerm*faceSize2: 20
XTerm*faceSize3: 20
XTerm*faceSize4: 20
XTerm*faceSize5: 20
XTerm*faceSize6: 20
XTerm.cjkWidth: false
XTerm*background: black
XTerm*foreground: #00FFFF
XTerm*scrollBar: false
XTerm*rightScrollBar: true
XTerm*jumpScroll: true
XTerm*SaveLines: 3000
